In [1]:
# load the dependencies
import pandas as pd
from sqlalchemy import create_engine
import os
import sys
os.getcwd()
sys.path.append("C:/SQL_PW/")
import config

In [2]:
print(config)

<module 'config' from 'C:/SQL_PW\\config.py'>

In [3]:
# Get the table


store_locator_file_raw = "Resources/NC.csv"
# store_locator_file_raw = "Resources/store_locations_2019_01_29.csv"
store_locator_file_df = pd.read_csv(store_locator_file_raw)
store_locator_file_df.head()

,STORE_NAME,longitude,latitude,ADDRESS,ADDRESS2,CITY,STATE,ZIP5,zip4,County,Unnamed: 10
0,Food Lion 2213,-80.865814,35.594765,516-10 RIVER HWY,NaN,MOORESVILLE,NC,28117,NaN,IREDELL,NaN
1,FISH WING,-80.882446,35.216393,1501 West Blvd,Ste G,Charlotte,NC,28208,7076.0,MECKLENBURG,NaN
2,SUPERIOR GROCERIES,-79.808388,35.735970,1505 N Fayetteville St,NaN,Asheboro,NC,27203,3804.0,RANDOLPH,NaN
3,MORVEN TRUCK STOP,-80.011215,34.883118,6438 US Highway 52 S,NaN,Morven,NC,28119,8300.0,ANSON,NaN
4,GREENHILL STORE,-82.044556,35.411030,2751 HWY 64/74 A WEST,NaN,RUTHERFORDTON,NC,28139,NaN,RUTHERFORD,NaN

In [4]:
pw = config.password
connection_string = ("root:" + pw + "@localhost/snap_db")

engine = create_engine(f'mysql://{connection_string}')
# print(connection_string)

In [5]:
store_locator_file_df.to_sql(name='store_locator', con=engine, if_exists='replace', index=False)