In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
import sys
os.getcwd()
sys.path.append("C:/SQL_PW/")
import config

### Store CSV into DataFrame

In [2]:
csv_file = "Resources/snap_national_data.csv"
snap_df = pd.read_csv(csv_file)
snap_df.head()

,CODEF,COFIPS,CONAME,FIPS,FIPSTXT,METRO,NUMPOV00,NUMPOV06,NUMPOV07,NUMPOV10,...,PRGNUM11,PRGNUM89,PRGNUM93,PRGNUM95,PRGNUM97,PRGNUM98,PRGNUM99,STATE_CD,STFIPS,URBCODE
0,CEN_BEA,25,"Cass County, NE",31025,31025,1,1574,1544,1604,1.787,...,-9991.0,1016.0,1441.0,1362.0,1374.0,1328.0,992.0,NE,31,2
1,CEN_BEA,69,"Garden County, NE",31069,31069,0,325,307,277,321.000,...,-9991.0,75.0,130.0,9.0,22.0,125.0,95.0,NE,31,9
2,CEN_BEA,73,"Gosper County, NE",31073,31073,0,163,184,169,191.000,...,-9991.0,30.0,37.0,9.0,13.0,42.0,32.0,NE,31,9
3,CEN_BEA,113,"Logan County, NE",31113,31113,0,89,83,79,96.000,...,-9991.0,32.0,9.0,3.0,0.0,32.0,29.0,NE,31,9
4,CEN_BEA,137,"Phelps County, NE",31137,31137,0,833,898,897,894.000,...,-9991.0,416.0,458.0,436.0,421.0,431.0,394.0,NE,31,7

### Clean DataFrame

In [3]:
# Keep only columns meaningful to this analysis
new_snap_df = snap_df[['CODEF', 'STATE_CD', 'POP07', 'POP10',\
                       'NUMPOV07', 'NUMPOV10', \
                       'PRGNUM07', 'PRGNUM10', \
                       'PRGBEN07', 'PRGBEN10']].copy()

In [4]:
# Convert columns to 'object' type to prevent pandas from forcing datatype to float
new_snap_df['POP07']= new_snap_df['POP07'].astype(object)
new_snap_df['POP10']= new_snap_df['POP10'].astype(object)

new_snap_df['NUMPOV07']= new_snap_df['NUMPOV07'].astype(object)
new_snap_df['NUMPOV10']= new_snap_df['NUMPOV10'].astype(object)

new_snap_df['PRGNUM07']= new_snap_df['PRGNUM07'].astype(object)
new_snap_df['PRGNUM10']= new_snap_df['PRGNUM10'].astype(object)

new_snap_df.head(10)

,CODEF,STATE_CD,POP07,POP10,NUMPOV07,NUMPOV10,PRGNUM07,PRGNUM10,PRGBEN07,PRGBEN10
0,CEN_BEA,NE,25520,25291,1604,1.787,1034,1727,1083.9,2520.0
1,CEN_BEA,NE,1843,2065,277,321,114,187,119.5,272.9
2,CEN_BEA,NE,1960,2047,169,191,61,95,63.9,138.6
3,CEN_BEA,NE,741,770,79,96,19,68,19.9,99.2
4,CEN_BEA,NE,9134,9199,897,894,532,700,557.7,1021.4
5,CEN_BEA,NE,3574,3809,473,441,185,342,193.9,499.0
6,CEN_BEA,NJ,446314,449149,21750,25.008,12073,22811,14080.5,37783.2
7,CEN_BEA,NJ,589377,635294,81698,103.576,57562,91947,67133.2,152297.4
8,CEN_BEA,NJ,487067,50186,64765,76.91,52689,82573,61450.0,136770.7
9,CEN_BEA,NJ,519738,537661,41463,58.007,22610,38268,26369.5,63385.6

In [5]:
# Drop all NaN cells. If time permitted for this project, it'd make more sense to use median 
# to replace the NaN value 
new_snap_df = new_snap_df.dropna(how='any')
new_snap_df.head()

,CODEF,STATE_CD,POP07,POP10,NUMPOV07,NUMPOV10,PRGNUM07,PRGNUM10,PRGBEN07,PRGBEN10
0,CEN_BEA,NE,25520,25291,1604,1.787,1034,1727,1083.9,2520.0
1,CEN_BEA,NE,1843,2065,277,321,114,187,119.5,272.9
2,CEN_BEA,NE,1960,2047,169,191,61,95,63.9,138.6
3,CEN_BEA,NE,741,770,79,96,19,68,19.9,99.2
4,CEN_BEA,NE,9134,9199,897,894,532,700,557.7,1021.4

In [6]:
# Drop all negative values. If time permitted for this project, it'd make more sense to use median 
# to replace the NaN value
new_snap_df = new_snap_df.drop(new_snap_df[new_snap_df.POP07 <0].index)
new_snap_df = new_snap_df.drop(new_snap_df[new_snap_df.POP10 <0].index)

new_snap_df = new_snap_df.drop(new_snap_df[new_snap_df.NUMPOV10 <0].index)
new_snap_df = new_snap_df.drop(new_snap_df[new_snap_df.NUMPOV07 <0].index)

new_snap_df = new_snap_df.drop(new_snap_df[new_snap_df.PRGNUM10 <0].index)
new_snap_df = new_snap_df.drop(new_snap_df[new_snap_df.PRGNUM07 <0].index)

new_snap_df = new_snap_df.drop(new_snap_df[new_snap_df.PRGBEN10 <0].index)
new_snap_df = new_snap_df.drop(new_snap_df[new_snap_df.PRGBEN07 <0].index)

new_snap_df.head(10)

,CODEF,STATE_CD,POP07,POP10,NUMPOV07,NUMPOV10,PRGNUM07,PRGNUM10,PRGBEN07,PRGBEN10
0,CEN_BEA,NE,25520,25291,1604,1.787,1034,1727,1083.9,2520.0
1,CEN_BEA,NE,1843,2065,277,321,114,187,119.5,272.9
2,CEN_BEA,NE,1960,2047,169,191,61,95,63.9,138.6
3,CEN_BEA,NE,741,770,79,96,19,68,19.9,99.2
4,CEN_BEA,NE,9134,9199,897,894,532,700,557.7,1021.4
5,CEN_BEA,NE,3574,3809,473,441,185,342,193.9,499.0
6,CEN_BEA,NJ,446314,449149,21750,25.008,12073,22811,14080.5,37783.2
7,CEN_BEA,NJ,589377,635294,81698,103.576,57562,91947,67133.2,152297.4
8,CEN_BEA,NJ,487067,50186,64765,76.91,52689,82573,61450.0,136770.7
9,CEN_BEA,NJ,519738,537661,41463,58.007,22610,38268,26369.5,63385.6

In [46]:
# Test Block
# import numbers
# new_snap_df['POP10'] = new_snap_df['POP10'].apply(lambda x: x if isinstance(x, numbers.Integral) else x*1000)
# new_snap_df.head()

In [48]:
# Test Block
# In population columns, when decimal point presents, multiply the number by 1000
#new_snap_df['POP06'] = new_snap_df['POP06'].apply(lambda x: x * 1000 if '.' in str(x) else x)
#new_snap_df['POP07'] = new_snap_df['POP07'].apply(lambda x: x * 1000 if '.' in str(x) else x)
#new_snap_df['POP10'] = new_snap_df['POP10'].apply(lambda x: x * 1000 if '.' in str(x) else x)

#new_snap_df['NUMPOV06'] = new_snap_df['NUMPOV06'].apply(lambda x: x * 1000 if '.' in str(x) else x)
#new_snap_df['NUMPOV07'] = new_snap_df['NUMPOV07'].apply(lambda x: x * 1000 if '.' in str(x) else x)

#new_snap_df['PRGNUM06'] = new_snap_df['PRGNUM06'].apply(lambda x: x * 1000 if '.' in str(x) else x)
#new_snap_df['PRGNUM07'] = new_snap_df['PRGNUM07'].apply(lambda x: x * 1000 if '.' in str(x) else x)

#new_snap_df.head()

In [7]:
# Convert the population columns to integer
new_snap_df['POP07'] = new_snap_df['POP07'].astype(int)
new_snap_df['POP10'] = new_snap_df['POP10'].astype(int)

new_snap_df['NUMPOV07'] = new_snap_df['NUMPOV07'].astype(int)
new_snap_df['NUMPOV10'] = new_snap_df['NUMPOV10'].astype(int)

new_snap_df['PRGNUM07'] = new_snap_df['PRGNUM07'].astype(int)
new_snap_df['PRGNUM10'] = new_snap_df['PRGNUM10'].astype(int)

new_snap_df.head()

,CODEF,STATE_CD,POP07,POP10,NUMPOV07,NUMPOV10,PRGNUM07,PRGNUM10,PRGBEN07,PRGBEN10
0,CEN_BEA,NE,25520,25291,1604,1,1034,1727,1083.9,2520.0
1,CEN_BEA,NE,1843,2065,277,321,114,187,119.5,272.9
2,CEN_BEA,NE,1960,2047,169,191,61,95,63.9,138.6
3,CEN_BEA,NE,741,770,79,96,19,68,19.9,99.2
4,CEN_BEA,NE,9134,9199,897,894,532,700,557.7,1021.4

In [8]:
snap_by_state_df = new_snap_df.groupby(['STATE_CD']).agg({'POP07':'sum', 'POP10':'sum', \
                                                          'NUMPOV07':'sum', 'NUMPOV10':'sum', \
                                                          'PRGNUM07':'sum', 'PRGNUM10':'sum', \
                                                          'PRGBEN07':'sum', 'PRGBEN10':'sum'})

snap_by_state_df

,POP07,POP10,NUMPOV07,NUMPOV10,PRGNUM07,PRGNUM10,PRGBEN07,PRGBEN10
STATE_CD,,,,,,,,
AK,667605,616400,63264,5539,50158,70668,85135.0,154949.1
AL,4637904,4369309,750198,848,561025,763629,613789.0,1309165.1
AR,2842194,2584673,483512,1297,376869,433327,420933.0,696050.0
AZ,2489279,2552967,380615,474,303030,476818,359810.8,743534.1
CA,10951876,10695211,1407311,2439,780755,1208039,921819.0,2021779.0
CO,4842259,4805513,548521,9067,249457,409183,309039.3,750026.6
CT,3488633,3406217,269045,346,221603,371357,263826.4,629511.9
DC,586409,604453,95441,107,88504,131366,106090.0,202559.0
DE,864896,899769,86654,103,72404,102414,80534.0,197796.2
FL,10576678,9993964,1230053,1686,727932,1538833,745893.0,2537975.0
GA,9533761,9484716,1329160,5774,987857,1498001,1149124.0,2801306.7
HI,1276737,1363531,106231,146,91420,149690,159670.1,388016.6
IA,2978719,2485988,316302,10714,248867,283545,277164.3,536478.0
ID,1499245,1563584,177828,5914,95434,212145,105216.4,344687.1
IL,7543655,7257088,737115,7784,607743,771842,763188.5,1458434.9
IN,6346113,5796208,755246,4271,607990,816274,691031.0,1376475.1
KS,2775586,2631010,301828,30041,185714,285682,196347.3,440540.8
KY,4256278,4050724,706947,2828,624075,631666,698961.3,1241271.6
LA,4376122,4103831,783922,1691,659890,818562,761481.0,1312126.0
MA,5023756,4605044,523709,1424,429469,682956,444258.0,1080636.1
MD,5634242,5756597,455602,548,347242,622453,390309.7,1010891.0
ME,1317308,1263019,155762,161,169492,244241,177809.8,363507.0
MI,6867897,6352695,860729,1319,799904,962898,908306.9,1973473.2
MN,4057220,3089740,363383,11008,213275,345334,228685.7,525739.0
MO,5909824,5769692,758844,8412,867686,893192,760649.0,1379413.0
MS,2921723,2677302,583359,1094,441264,534024,459574.0,899193.5
MT,957225,906289,131433,13241,80115,117216,91563.8,190216.2
NC,9064074,8953383,1256868,2535,924265,1392973,992299.0,2137589.0
ND,636765,473923,72073,14603,47855,52578,55035.1,96439.6
NE,1769912,1730088,190462,29163,120625,167281,126450.5,251878.7
NH,1317343,876344,93005,104,62183,106234,65735.8,163367.0
NJ,8636043,8349950,725723,873,430297,587451,501845.4,1195834.4
NM,1968731,1840572,344062,3990,235176,402643,250183.0,611382.0
NV,728428,727283,74064,3562,33195,80923,36322.7,105145.0
NY,8730626,8324162,988327,1588,706252,1046597,910961.3,1782333.0
OH,9104858,7875079,1082239,1288,809792,1142321,938193.0,2213501.7
OK,3612186,3582800,552915,7796,417860,590648,468350.0,919833.0
OR,3732957,3679567,476650,1314,456935,651985,497516.2,1148004.5
PA,9772578,8755800,927785,2756,726228,1040147,780634.0,1629133.4
RI,1055009,488523,121172,140,82590,155872,96701.9,266526.0
SC,4424232,4159501,646062,790,574843,722843,651663.3,1318910.7
SD,794956,711361,100367,19917,61654,92124,72264.5,160403.4
TN,6172862,4885172,945258,1902,893899,961318,1024261.0,1993904.0
TX,13277462,12353935,2160910,29100,1528917,2160939,1688799.7,3213913.9
UT,1661371,1700880,164913,4109,79348,168308,83849.1,249601.9
VA,9899309,9666986,967561,351307,698315,998491,734466.3,1620736.5
VT,620460,552772,60610,633,54692,72571,57860.4,131560.9
WA,4607473,4162612,542370,2081,447002,764389,500604.3,1190879.7
WI,5601571,5192456,589163,2178,407507,690479,370917.0,1035595.0
WV,1811198,1682199,302169,303,274360,298373,280004.3,492300.5
WY,523414,537649,48147,3633,22503,34412,25167.4,54066.8

In [77]:
snap_by_state_df = snap_by_state_df[~snap_by_state_df.index.str.contains('"')]

In [78]:
snap_by_state_df

,POP07,POP10,NUMPOV07,NUMPOV10,PRGNUM07,PRGNUM10,PRGBEN07,PRGBEN10
STATE_CD,,,,,,,,
AK,662498,683946,69231,63264,48620,5309,83255.4,132187.5
AL,4597688,4708708,743558,750198,543923,747,581681.6,1060197.0
AR,2815097,2889450,471166,483512,381607,1111,411510.8,632558.5
AZ,6192100,6595778,860354,876120,537075,978,622849.0,1483094.5
CA,35979208,36961664,4686706,4445390,2032370,3897,2401041.6,4803812.0
CO,4753044,5024748,539330,548521,252441,13574,317681.5,610383.7
CT,3485162,3518288,281078,269045,211299,313,242617.1,513387.8
DC,583978,599657,99671,95441,87027,114,103219.0,171137.0
DE,853022,885122,88749,86654,66247,106,70629.0,141422.0
FL,18088505,18537969,2232537,2167116,1215709,3364,1345339.0,3391964.0
GA,9330086,9829211,1340262,1329160,947053,6328,1095010.0,2308128.7
HI,1275493,1295095,117811,106231,87720,127,148414.0,308589.2
IA,2964391,3007856,315975,316302,235442,21588,249334.9,454034.0
ID,1464413,1545801,182934,177828,87102,8541,98747.8,264144.5
IL,12718011,12910409,1536132,1496153,1239947,10640,1516165.0,2480764.0
IN,6301700,6423113,768643,755246,582971,2748,650654.2,1193261.8
KS,2755700,2818747,327102,301828,182016,22585,189313.8,355235.0
KY,4219374,4314113,694870,706947,596493,3525,651708.2,1087629.2
LA,4240327,4492076,808319,783922,644661,1095,730017.0,1244257.7
MA,6466399,6593587,623777,621560,449515,1524,430706.8,1071196.3
MD,5612196,5699478,436979,455602,311622,522,339071.9,788329.6
ME,1314963,1318301,163293,155762,161689,217,169209.0,314555.0
MI,10082438,9969727,1328888,1370290,1192145,2906,1275330.0,2484302.2
MN,5148346,5266214,487044,481330,271404,13069,284027.9,565675.9
MO,5861572,5987580,783104,758844,815903,9621,746049.0,1339455.3
MS,2897150,2951996,588285,583359,419860,897,422017.2,769294.1
MT,946230,974989,132536,131433,80321,11909,89613.7,148653.6
NC,8866977,9380884,1256624,1256868,874428,3858,932741.7,1850521.0
ND,636771,646844,71063,72244,43975,9844,46900.2,85525.5
NE,1760435,1796619,194594,190462,120455,24870,125286.4,210323.2
NH,1311894,1324575,101872,93005,58382,94,58907.0,145744.3
NJ,8623721,8707739,740721,725723,410795,576,460794.9,880643.0
NM,1942608,2009671,350121,344062,236807,3920,251498.0,480636.0
NV,2493405,2643085,257828,267832,119596,2727,124663.0,371998.8
NY,19356564,19541453,2670777,2584754,1794551,2893,2261152.0,4312890.0
OH,11492495,11542645,1475789,1458624,1072366,1519,1273911.0,2365740.0
OK,3574334,3687050,576690,552915,424622,5872,464095.0,791777.1
OR,3677545,3825657,487354,476650,436328,2406,463821.9,915484.0
PA,12471142,12604767,1442858,1392870,1121801,3588,1195965.0,2162464.2
RI,1060196,1053209,117585,121172,74937,129,82481.9,218100.3
SC,4339399,4561242,657405,646062,541108,750,594788.0,1128534.3
SD,786414,810316,101692,100367,58934,13982,66203.2,124735.7
TN,6089453,6296254,947104,945258,861976,1955,974952.0,1791431.8
TX,23366820,24780044,3862446,3786787,2410803,30684,2778727.2,4599995.4
UT,2583724,2784572,269609,254386,125340,4221,138704.1,300998.3
VA,9143120,9413998,887850,918748,631197,187165,654634.9,1254194.0
VT,619985,621760,61694,60610,51855,958,51543.1,115366.7
WA,6372243,6664195,736909,722589,537643,3259,600366.7,1255303.9
WI,5571680,5654774,589381,589163,378293,2683,349628.6,777711.0
WV,1807237,1819777,310842,302169,268446,306,267269.1,445745.6
WY,512841,544270,51728,48147,22853,4856,25787.9,46198.6

In [80]:
snap_by_state_df.reset_index('STATE_CD', inplace=True)

### Connect to local database

In [10]:
rds_connection_string = f"root:{config.password}@127.0.0.1:3306/snap_db"
engine = create_engine(f'mysql://{rds_connection_string}')

engine.table_names()

['snap_participants']

### Use pandas to load csv converted DataFrame into database

In [11]:
snap_by_state_df.to_sql(name='snap_participants', con=engine, if_exists='replace', index=False)

pd.read_sql_query('select * from snap_participants', con=engine).head()

,STATE_CD,POP07,POP10,NUMPOV07,NUMPOV10,PRGNUM07,PRGNUM10,PRGBEN07,PRGBEN10
0,AK,662498,683946,69231,63264,48620,5309,83255.4,132187.5
1,AL,4597688,4708708,743558,750198,543923,747,581681.6,1060197.0
2,AR,2815097,2889450,471166,483512,381607,1111,411510.8,632558.5
3,AZ,6192100,6595778,860354,876120,537075,978,622849.0,1483094.5
4,CA,35979208,36961664,4686706,4445390,2032370,3897,2401041.6,4803812.0